<html>
  <head>
    <meta charset="UTF-8" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Hello, Welcome to my site.</h1>
    <ul>
      <!-- $link is a object that contains url of each page -->
      <li><a href="<%= $link.archives %>">Archives</a></li>
      <li><a href="<%= $link.about %>">About</a></li>Then create four template file there:
	  <ul>
  </body>
</html>